<% @comics.each do |comic| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1><%= comic.name %></h1>
    <i><%= comic.artist %></i>
    <p><%= comic.description %></p><br />
  </div>
<% end %>

